DJANGO_DEBUG=True
DJANGO_SECRET_KEY=django-insecure-3pn^9m2v&&nmzk5uf_hc4g__dy5gy5=jsxojm-xdma$2qszcmd
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Leave DB_HOST empty to use SQLite locally.
# Set DB_HOST=db when running with docker-compose.
DB_HOST=
DB_PORT=5432
DB_HOST_PORT=5432
DB_NAME=digital_wallet
DB_USER=digital_wallet
DB_PASSWORD=digital_wallet
